#header {
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 9999;
  left: 0;

  img {
    width: 70px;
    height: auto;
    left: 0;
    margin-left: 10px;
    padding: 15px;
  }

  .btn {
    height: 50px;
    width: 50px;
    font-size: 40px;
    position: relative;
    right: -90px;
    top: 0;
    padding: 15px;
    display: inline-block;
  }
  .checkbox {
    display: flex;
    padding: 5px 5px;
    justify-content: center;
    display: none;
  }
  nav {
    display: none;
  }
}
